body {
    background: #F5F5F5;
    font: 18px/1.5 sans-serif;
}
h1, h2 {
    line-height: 1.2; margin: 0 0 .5em;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 21px; margin-bottom: 1em;
}
p {
    margin: 0 0 1em 0;
}
a {
    color: #0000F0;
}
a:hover {
    text-decoration: none;
}
#wrapper {
    background: #FFF; margin: 1em auto; max-width: 800px; width: 95%;
}
#container {
    padding: 2em;
}
ul {
    list-style: none;
    padding: 0;
}
.product-form-buttons-list {
    margin-top: 20px;
}
.ui-helper-hidden-accessible {
    display: none;
}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 6px;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

